.App .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    color: white;
    background: black;
    font-weight: bolder;
}   

.add-movie-form input{
    margin-left: 10px;
    margin-bottom: 10px;
    min-width: 200px;
}

button{
    cursor: pointer;
    margin-left: 10px;
    font-weight: bolder;
    border: none;
}
button:hover{    
    background-color: royalblue;
    color: white;
    transition: 0.3s;
}
